.cover {
    /* background-color: #f8f9fa; */
    padding: 50px 0;
    width: 100%;
    max-height: 100vh;
  }
  
  .cover-text {
    margin-bottom: 30px;
  }
  
  .cover-image img {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  