.Auth_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* margin-top: -130px;
    margin-bottom: -100px; */
    height: 90vh;
  }
  
  .Auth_form {
    width: 75%;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    margin-top: 10rem;
  }
  
  .Auth_form_content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth_form_title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  @media screen and (max-width:676px){
    .Auth_form{
      width: 50vw;
      align-self: center;
    }
  }